#titulo {
  text-align: center;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 80px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
}
#subtitulo {
  text-align: center;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
}

button {
  border-radius: 5px;
  border: none;
  background: rgba(102, 204, 255, 0.5);
  color: white;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 20px;
  outline: none;
  text-shadow: 1px 1px 3px black;
  transition: background 0.5s ease 0s;
  cursor: pointer;
}

button:hover {
  font-size: 20.2px;
  text-shadow: 1px 1px 5px black;
  background: rgba(0, 153, 230, 0.5);
}

.btTurma {
  margin: 3px;
  margin-bottom: 6px;
  width: 400px;
  height: 200px;
  position: relative;
  left: 7%;
}

.btTarefa {
  margin: 3px;
  margin-bottom: 15px;
  width: 300px;
  height: 100px;
  font-size: 18px;
  position: relative;
  left: 7%;
}

.btTarefa:hover {
  font-size: 18.2px;
}

.btTarefaAluno {
  margin: 3px;
  margin-bottom: 15px;
  width: 400px;
  height: 100px;
  font-size: 18px;
  position: relative;
  left: 7%;
}

.btTarefaAluno:hover {
  font-size: 18.2px;
}

#btChat {
  position: absolute;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  left: 2%;
  bottom: 2%;
}

#btForum {
  position: absolute;
  border-radius: 100px;
  width: 100px;
  height: 50px;
  left: 10%;
  bottom: 2%;
}

#btNovaTurma {
  background: rgba(0, 160, 53, 0.5);
}
#btNovaTurma:hover {
  font-size: 20.2px;
  text-shadow: 1px 1px 5px black;
  background: rgba(0, 100, 25, 0.5);
}

#btHelp {
  position: absolute;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  right: 2%;
  bottom: 2%;
}

#btLogout {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 2%;
  top: 2%;
}

#btVoltar {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 2%;
  top: 2%;
}

#btCadastro {
  width: 200px;
  height: 50px;
  position: absolute;
  right: 51%;
  top: 27%;
}

#btLogin {
  width: 200px;
  height: 50px;
  position: absolute;
  left: 51%;
  top: 27%;
}

input {
  margin: auto;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  width: 40%;
  background: rgba(102, 204, 255, 0.5);
  color: white;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 16px;
  outline: none;
  text-shadow: 1px 1px 3px black;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: background 0.5s ease 0s;
}

input[type=submit]:hover {
  background: rgba(0, 153, 230, 0.5);
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#formQuestoes {
  position: absolute;
  left: 35%;
  top: 25%;
}

#formTurma {
  position: absolute;
  left: 35%;
  top: 25%;
}

#notas {
  position: absolute;
  left: 10%;
  top: 20%;
}

#formCadastro {
  position: absolute;
  right: 40%;
  top: 35%;
  visibility: hidden;
}

#formTarefa {
  position: absolute;
  right: 10%;
  top: 20%;
}

#formTarefa input {
  width: 200px;
  margin-right: 15px;
}

#formTarefa input#nota {
  width: 30px;
  margin-right: 15px;
}

#formLogin {
  width: 20.7%;
  position: absolute;
  right: 40%;
  top: 35%;
  visibility: hidden;
}

.prazos {
  position: relative;
  left: 15%;
  font-family: 'Lithos Pro';
  font-size: 20px;
}

.notificacao {
  position: relative;
  right: -60%;
  font-family: 'Lithos Pro';
  font-size: 20px;
}

/* Calendário do w3schools */
.month {
  border-radius: 15px 15px 0px 0px;
  padding: 30px 0px;
  margin-top: 50px;
  width: 100%;
  background: rgba(0, 160, 53, 0.5);
  font-family: 'Lithos Pro';
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  text-align: center;
}
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.month .prev {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}
.month .next {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
.days {
  border-radius: 0px 0px 15px 15px;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}
.days li .active {
  padding: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  border-radius: 30px;
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}
.days li .tarefa {
  padding: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  border-radius: 30px;
  background: rgba(160, 0, 53, 0.5);
  color: white !important
}
/* Fim do calendário do w3schools */

#discussao {
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
  margin: 30px;
}
#tituloTopico {
  position: absolute;
  top: 0%;
  right: 15%;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 32px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
  margin: 30px;
}

.posts {
  position: absolute;
  top: 10%;
  right: 15%;
  margin: 30px;
  font-family: 'Lithos Pro';
  font-size: 20px;
  padding: 30px;
}
.posts li {
  padding-top: 15px;
}
.posts li .pessoa {
  padding: 5px;
  border-radius: 15px;
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}

.topicos {
  margin: 30px;
  font-family: 'Lithos Pro';
  font-size: 20px;
  padding: 30px;
}
.topicos li {
  padding-top: 15px;
}
.topicos li .topicoAtivo {
  padding: 5px;
  border-radius: 15px;
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}

#pessoasOnline {
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 32px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
  margin: 30px;
}
.online {
  margin: 30px;
  font-family: 'Lithos Pro';
  font-size: 20px;
  padding: 30px;
}
.online li {
  padding-top: 15px;
}
.online li .logado {
  padding: 5px;
  border-radius: 15px;
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}

#chat {
  position: absolute;
  top: 0%;
  right: 50%;
  font-family: 'Lithos Pro';
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0px 12px 30px rgba(0, 153, 230, 0.5);
  margin: 30px;
}

.conversa {
  position: absolute;
  top: 10%;
  right: 30%;
  margin: 30px;
  font-family: 'Lithos Pro';
  font-size: 20px;
  padding: 30px;
}
.conversa li {
  padding-top: 15px;
}
.conversa li .pessoa {
  padding: 5px;
  border-radius: 15px;
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}
.conversa li .logado {
  padding: 5px;
  position: absolute;
  right: -70%;
  border-radius: 15px;
  background: rgba(0, 100, 25, 0.5);
  color: white !important
}
.conversa li .logadoTexto {
  padding: 5px;
  position: absolute;
  right: -70%;
  border-radius: 15px;
  background: rgba(0, 100, 25, 0.5);
  background: rgba(0, 160, 53, 0.5);
  color: white !important
}

#digitando {
  position: absolute;
  bottom: 30%;
  right: 50%;
}

#mensagem {
  width: 580px;
  position: absolute;
  bottom: 25%;
  right: 20%;
}

#enviar {
  width: 100px;
  position: absolute;
  bottom: 25%;
  right: 12%;
}
